---
import Charging from '../components/Charging.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import HeroSection from '../components/HeroSection.astro'
import Location from '../components/Location.astro'
import References from '../components/References.astro'
import Reviews from '../components/Reviews.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Evolution - App for you cart'>
  <Header />
  <main class='overflow-x-hidden'>
    <HeroSection />
    <Reviews />
    <Location />
    <Charging />
    <References />
  </main>
  <Footer />
</Layout>
