<div class='sticky snap-center p-2'>
  <div
    class='border-4 backdrop-blur-xl bg-white/5 border-emerald-400 w-[260px] md:w-[300px] md:h-[400px] md:flex-col md:gap-2 flex justify-center items-center rounded-xl p-2'
  >
    <p
      class='w-[200px] h-[190px] md:mt-4 content-center text-pretty font-light text-xs sm:text-sm text-white'
    >
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum illum culpa
      voluptatibus qui maxime nobis fugit excepturi itaque odio fugiat, numquam
      possimus aspernatur! Adipisci quisquam laudantium amet dolorum eveniet
      sapiente!
    </p>

    <div class='flex flex-col w-20 md:w-32 md:items-center md:p-2 md:gap-1'>
      <div class='size-20 md:size-24'>
        <img
          src='/Cara1.webp'
          alt=''
          class='h-full w-full rounded-full object-cover shadow-xl shadow-emerald-400'
        />
      </div>
      <div class='text-center text-white'>
        <h3 class='font-semibold text-base md:text-lg'>Pedro</h3>
        <h4 class='font-light text-xs md:text-base'>Profesional Dev</h4>
      </div>
    </div>
  </div>
</div>
