---
import Arrow from './icons/Arrow.astro'
---

<section class='w-screen md:content-center md:h-[400px] bg-slate-700'>
  <div
    class='flex flex-col-reverse gap-2 md:gap-1 md:flex-row justify-center items-center'
    '
  >
    <div
      class='w-[900px] h-[500px] filter drop-shadow-emerald rotate-6 md:absolute overflow-hidden -left-10 max-xl:-left-32'
    >
      <img src='/LambosMockup4.webp' alt='iphone3' class='size-full' />
    </div>
    <div class='py-4 px-12 md:ml-64 w-auto md:w-2/5 flex flex-col gap-4'>
      <h2 class='text-3xl font-bold text-emerald-400 w-64'>
        Nearby Charging Stations
      </h2>
      <p class='text-base font-light text-white'>
        Suscipit sapien, et semper erat. Curabitur facilisis nisl at lectus
        pretium, faucibus molestie massa condimentum. Nullam eget viverra
        turpis.
      </p>
      <a
        class='text-emerald-400 hover:scale-110 duration-200 animate-scale w-32 flex justify-start items-center'
        href='#'>Read more <Arrow /></a
      >
    </div>
  </div>
</section>
