<div
  class='flex justify-center items-center bg-footer-bg w-full h-[500px] bg-cover bg-center p-12 md:p-20'
>
  <div class='flex justify-between items-center w-full'>
    <div class='flex flex-col'>
      <div class='flex flex-col items-center p-2 gap-1'>
        <h3 class='text-white font-black text-2xl md:text-4xl'>
          <span class='text-emerald-400'>SCAN</span> TO <span
            class='text-emerald-400'>DOWNLOAD</span
          > APP
        </h3>
        <p class='text-white text-sm font-light'>
          Available on your favorite store. Start your premium experience now
        </p>
      </div>

      <div class='hidden md:flex gap-6 md:p-12 justify-center items-center'>
        <div>
          <img src='/Codigo_qr.webp' alt='qr' class='size-48 aspect-auto' />
        </div>
        <div>
          <img src='/Codigo_qr.webp' alt='qr' class='size-48 aspect-auto' />
        </div>
      </div>
      <div class='flex md:hidden justify-center items-center'>
        <a href='#'>
          <img src='/Playstore.webp' alt='Playstore' class='size-full' />
        </a>
        <a href='#'>
          <img src='/Appstore.webp' alt='Appstore' class='size-full' />
        </a>
      </div>
    </div>
    <div class='hidden md:block h-[800px] w-[400px] relative bottom-[-200px]'>
      <img src='/Iphone_1.webp' alt='iphone1' class='h-full w-full' />
    </div>
  </div>
</div>
